<form method="POST">
  <div class="form-group mt-5">
    <label for="searchInput">Keyword</label>
    <input type="text" name="q" class="form-control" id="searchInput" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>